<!--<ul class="list-unstyled">
  <li *ngFor="let product of products" class="media my-3 border">
    <img class="mr-3" [src]="imgUrl">
    <div class="media-body">
      <h5 class="mt-0 mb-1">
        &lt;!&ndash; 在地址栏，将product.title作为参数传递过去（app.module.ts配置了路由） &ndash;&gt;
        <a [routerLink]="['/product', product.id]">{{product.title}}</a>
        -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;
        <span>{{product.price}}元</span>
      </h5>
      <p>{{product.desc}}</p>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </li>
</ul>-->

<div class="row">
  <div *ngFor="let product of products | async" class="col-sm-6 col-md-4">
    <div class="card my-2">
      <img class="card-img-top" [src]="imgUrl">
      <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/product', product.id]">{{product.title}}</a></h5>
        <p>{{product.price}} 元</p>
        <p class="card-text">{{product.desc}}</p>
        <app-stars [rating]="product.rating"></app-stars>
      </div>
    </div>
  </div>
</div>

